<div id="principal">
    <div id="div-bienvenida">
        <p class="color-blanco margin-bottom margin-top ">Bienvenidos a la boda de Jacqueline & Luis</p>
        <%= link_to 'Pulsa aquí', index_path, class:"color-blanco letra-pequena borde txt-non boton-portada" %>
    </div>
</div>
<div id="JyF">
    <p class="letra-molde tamano-chiquito ">Desarrollado por Fátima Ramazzini</p>
</div>
